ul{
    margin:0;
    padding:0;
}
li{
    padding:0;
    margin:0;
}
h1{
    margin:0;
    padding:0;
}
p{
    margin:0;
    padding:0;
}
i{
    color:black;
}
header{
    position:fixed;
    width:100%;
    z-index:10;
}
.header-top{
    background-color: #fff;
}
.header-top .container{
    display:flex;
    justify-content: space-between;
    padding:5px 30px;
}
.header-logo a img{
    width:40px;
    height:auto;
}
.header-bottom{
    background-color:rgba(0, 0, 0, 0.9);
    height:30px;
    text-align: center;
}
.header-bottom:hover{
    cursor:pointer;
}
.header-bottom .container{
    padding-right:30px;
    padding-left:30px;
}
.header-bottom ul{
    display:none;
    list-style: none;
}
.header-bottom li{
    margin:0 auto;
}
.header-bottom li a{
    text-decoration: none;
    color:white;
}

.header-bottom i{
    color:white;
}
.is-active{
    content:"\f102";
}
.pull-down{
    width:100%;
    height:auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-bottom: 30px;
    display:none;
}
.pull-down a{
    border: solid 1px white;
    border-radius: 100px;
    text-decoration: none;
    color:white;
    display:inline-block;
    padding: 5px 0 5px 0;
}
.pull-top{
    padding-top: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.p2{
    margin-top: 5px;
}
.pull-top a{
    width:80%;
}
.pull-bottom a{
    width:25%;
}


main{
    color:#4e5665;
    background-color: #F4F5F7;
}

.top-wrapper{
    background-image: url(../img/bg.jfif);
    background-position: 0% 40%;
    background-size: cover;
    height:300px;
    position:relative;
}
.top-wrapper h1{
    font-size: 50px;
    font-family: 'Montserrat Subrayada', sans-serif;
    background-color: white;
    width:55%;
    margin:0 auto;
    text-align: center;
    position:absolute;
    left:50%;
    top:60%;
    transform: translate(-50%, -50%);
}


.center-wrapper .container{
    padding: 20px 70px 0 70px;
}
.center-wrapper h2{
    margin-top:10px;
}
.center-wrapper p{
    margin:0;
}
.language{
    display:inline-block;
}
#twitter-data{
    text-align: center;
}
a.btn_02 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 0 6% 0 12%;
    color: #000;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    position: relative;
    transition-duration: 0.2s;
}
a.btn_02:hover {
    background: #000;
    color: #fff;
}
a.btn_02:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 8px;
    border-color: transparent transparent transparent #000;
    position: absolute;
    top: 50%;
    left: 6%;
    margin-top: -7px;
}
a.btn_02:hover:before {
    border-color: transparent transparent transparent #fff;
}

.cont{
      padding-bottom:40px;
}
.cha{
    padding-bottom:50px;
}
.cha dd{
    margin:0;
    margin-left:40px;
}
.cont:before{
    content:"";
    border-bottom:solid 2px #4e5665;
    width:20px;
    display:block;
    margin:0 auto;
}
.ins h2{
    margin-bottom:20px;
}

.form{
    border:solid 1px #000;
    background-color: #fff;
    width:80%;
    margin:0 auto;
    padding:20px;
    margin-bottom:30px;
}
#contact{
    padding:20px 70px 0 70px;
    text-align: center;
}
.form input,textarea{
    width:100%;
}
.form button{
    width:100%;
    border-radius: 2px;
    border: solid 1px #4e5665;
    background-color: #F4F5F7;
}



.footer-wrapper{
    text-align: end;
    background-color: #F4F5F7;
}
.footer-container{
    border-top: solid 1px #4e5665;
    padding:20px 70px;
}